<h2 class="popUpHeader">Create Account</h2>

<form action="/users" method="post">
<input class="popUpInput" type="username" name="username" placeholder=" USERNAME" value=""><br>
<input class="popUpInput" type="email" name="email" placeholder=" EMAIL" value=""><br>
<input class="popUpInput" type="password" name="password" placeholder=" PASSWORD" value=""><br>
<input class="popUpSubmit" type="submit" value="REGISTER">
</form>

<a href="/" class="closePopUp">CLOSE</a>